<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8" />
        <title>PhotoFair</title>
        <meta name="description" content="Here goes description" />
        <meta name="author" content="author name" />
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />
        <!-- Mobile Specific Meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <!-- Stylesheets -->
        <link href='http://fonts.googleapis.com/css?family=Enriqueta:400,700|Open+Sans:400italic,700italic,400,600,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        <!--[if IE 8]>
        <link rel="stylesheet" href="css/ie8.css" />
        <![endif]-->
        <link rel="stylesheet" href="{% static 'js/farbtastic/farbtastic.css' %}" type="text/css" />
        <script data-ad-client="ca-pub-8719257273551521" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    </head>
    <body>
        <!-- ================================= START BLACK-WHITE VERSION === -->
        <div class="color_scheme">
            <div class="color_scheme_settings"></div>
            <div class="color_scheme_title">Style Selector</div>
            <p>Choose your color skin</p>
            <select name="site_color">
                <option value="light">Light</option>
                <option value="dark">Dark</option>
            </select>
            <hr/>
            <p>Choose your layout style</p>
            <select name="site_layout">
                <option value="wide">Wide</option>
                <option value="boxed">Boxed</option>
            </select>
            <hr/> 
            <p>Choose site color</p>
            <ul id="site_color">
                <li><span class="color_1"></span></li>
                <li><span class="color_2"></span></li>
                <li><span class="color_3"></span></li>
                <li><span class="color_4"></span></li>
                <li><span class="color_pick"></span></li>        
            </ul>
            <hr/> 
            <p>Patterns for boxed version</p>
            <ul id="background_patterns">
                <li><img src="{% static 'images/background/square_1.png' %}" alt="patterns" /></li>
                <li><img src="{% static 'images/background/square_2.png' %}" alt="patterns" /></li>
                <li><img src="{% static 'images/background/square_3.png' %}" alt="patterns" /></li>
                <li><img src="{% static 'images/background/square_4.png' %}" alt="patterns" /></li>
                <li><img src="{% static 'images/background/square_5.png' %}" alt="patterns" /></li>        
            </ul>
            <hr/> 
            <p>Images for boxed version</p>
            <ul id="background_images">
                <li><img src="{% static 'images/background/back.jpg' %}" alt="background" /></li>
                <li><img src="{% static 'images/background/back_2.jpg' %}" alt="background" /></li>
                <li><img src="{% static 'images/background/back_3.jpg' %}" alt="background" /></li>
                <li><img src="{% static 'images/background/back_4.jpg' %}" alt="background" /></li>
                <li><img src="{% static 'images/background/back_5.jpg' %}" alt="background" /></li>        
            </ul>
        </div>
        <!-- ================================= END BLACK-WHITE VERSION === -->

        <!-- ================================= START CLASS FOR BOXED/FLUID -->
        <div class="boxed_fluid">
            <!-- ================================= START CLASS HEADER -->
            <div class="header">
                <div class="container">
                    <div class="row">
                        <div class="span2">
                            
                        </div>
                        <div class="span10">
                            <div class="menu">
                                <ul>
                                    <li><form style="width: 334px;" class="search">
                                        <input type="submit" value="" class="serach_button">
                                        <input type="text" placeholder="Search ..." class="search_line">
                                    </form>
                                        
                                    </li>
                                   
                                   
                                    
                                    <li><a href="#">Contacts</a></li>
                                    <li><a href="#">Support</a></li>
                                </ul>                            
                            </div>
                        </div> 
                        <div class="clear"></div>
                    </div>
                </div>




            </div>
            <!-- ================================= END CLASS HEADER -->

            <!-- ================================= START SITE CONTENT -->
            <div class="site_content">

                <div class="path">
                    <div class="container">
                        <h1>PhotoFair<span><img src="{% static 'images/elements/path_3c.png' %}" alt="path" /></span></h1>
                       
                    </div>
                </div>

                <div class="content">
                    <div class="container">
                        <div class="portfolio">

                            <ul class="filter">
                                <li><a class="active" href="#">All</a></li>
                                <li>/<a href="#" data-category="design">Design</a></li>
                                <li>/<a href="#" data-category="fashion">Fashion</a></li>
                                <li>/<a href="#" data-category="art">Art</a></li>
                                <li>/<a href="#" data-category="health">Health</a></li>
                                <li>/<a href="#" data-category="illustration">Illustration</a></li>
                            </ul>


                            

                            <div class="row">

                                {% for image in book %}
                                <div class="span4 design">
                                    <div class="portfolio_item">
                                        <div class="item_hover">
                                            <div class="item_title">Like our work!</div>
                                            <ul class="item_tags">
                                                <li><a href="https://www.instamojo.com/@adhyapna/l72d251b8ee264c678ebb7b18c7ee22bd/">Donate Us!</a></li>
                                                <li><a href="https://www.instamojo.com/@adhyapna/le094f234829c4ba19eb570933a41827f/">Buy Us Coffee!</a></li>
                                                
                                            </ul>
                                            <a href="{{ image.photo.url }}" download class="button_color">view</a>
                                        </div>
                                        <div class="item_image">
                                            <img src="{{ image.photo.url }}" alt="portfolio 1" />
                                        </div>
                                    </div>
                                </div>

                                {% endfor %}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- ================================= END SITE CONTENT -->

            <!-- ================================= START FOOTER CONTENT -->
            <div class="footer">
                <div class="container">
                    <div class="row">
                        
                        <div class="span3 offset1">
                            <div class="widget-title">newsletter</div>
                            <form id="newsletter" class="newsletter_widget" method="post">
                                <input type="submit" value="" class="newsletter_button" />
                                <input type="text" name="email" placeholder="Enter e-mail adress" class="newsletter_line" />
                            </form>


                            <div class="widget-title">contact info</div>
                            <ul class="contact_widget">
                                <li class="phone">000 111 222 333</li>
                                <li class="fax">000 222 999 777</li>
                                <li class="mail"><a href="photofair91@gmail.com">photofair91@gmail.com</a></li>
                                <li class="location">Varanasi IN</li>
                            </ul>
                        </div>
                        <div class="span3 offset1">
                            <div class="widget-title">Services</div>
                            <li class='l'><p class='k'>Web Development</p></li>
                            <li class='l'><p class='k'>Web Design</p></li>
                            <li class='l'><p class='k'>Photoshop-work</p></li>
                            <li class='l'><p class='k'>Logo-Design</p></li>
                            <li class='l'><p class='k'>VFx</p></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
<style>p.k {
    color: aliceblue;
    margin-bottom: 0px;
}li.l {
    color: darkorchid;
    list-style-type: disclosure-open;
}</style>
            <div class="footer_bottom">
                <div class="container">
                    <div class="row">
                        <div class="span6">
                            <p>Copyright 2021 Photo-fair.</p>
                        </div>
                        <div class="span6">
                            <ul class="socials">
                                <li><a href="#"><img src="{% static 'images/socials/facebook.png' %}" alt="facebook" title="facebook" /></a></li>
                                <li><a href="#"><img src="{% static 'images/socials/twitter.png' %}" alt="twitter" title="twitter" /></a></li>
                                <li><a href="#"><img src="{% static 'images/socials/linkedin.png' %}" alt="linkedin" title="linkedin" /></a></li>
                                <li><a href="#"><img src="{% static 'images/socials/rss.png' %}" alt="rss" title="rss" /></a></li>
                                <li><a href="#"><img src="{% static 'images/socials/pinterest.png' %}" alt="pinterest" title="pinterest" /></a></li>
                                <li><a href="#"><img src="{%  static 'images/socials/flickr.png' %}" alt="flickr" title="flickr" /></a></li>
                                <li><a href="#"><img src="{% static 'images/socials/googleplus.png' %}" alt="googleplus" title="googleplus" /></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ================================= END FOOTER CONTENT -->
        </div>

        <!-- ================================= END CLASS FOR BOXED/FLUID -->

        <!-- ===================================== START SCRIPTS -->
        <script src="{% static 'js/modernizr.custom.63321.js' %}"></script>
        <script src="{% static 'js/jquery-1.10.0.min.js' %}"></script>
        <script src="{% static 'js/jquery-ui.min.js' %}" type="text/javascript" ></script>
        <script src="{% static 'js/bootstrap.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/placeholder.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/imagesloaded.pkgd.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/masonry.pkgd.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/jquery.swipebox.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/countdown.js' %}" type="text/javascript"></script>
        <script type="text/javascript" src="{% static 'js/farbtastic/farbtastic.js' %}"></script>
        <script src="{% static 'js/options.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/jquery.calendario.js' %}"></script>
        <script src="{% static 'js/data.js' %}" type="text/javascript"></script>
        <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    </body>
</html>